<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.macho.beforeandafter">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/> <!-- デバイスがスリープしていたら解除する -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/><!-- システム再起動時にアラーム再設定 -->

    <application
        android:name=".BeforeAndAfterApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".InitialSettingsActivity" />

        <activity android:name=".main.MainActivity" />
        <activity android:name=".record.camera.CameraActivity" android:theme="@style/AppThemeNoTitle"/>
        <activity android:name=".gallery.PhotoActivity" android:theme="@style/MainTheme"/>
        <activity android:name=".PinAuthActivity" android:theme="@style/AppThemeNoTitle"/>
        <activity android:name=".preference.pin.PinEnableActivity" android:theme="@style/AppThemeNoTitle"/>
        <activity android:name=".preference.pin.PinDisableActivity" android:theme="@style/AppThemeNoTitle"/>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>

        <receiver
            android:name=".preference.alarm.AlarmBroadcastReceiver"
            android:process=":remote" >
        </receiver>

        <receiver android:name=".preference.alarm.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>